<section id="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="smartest">
          <h1>One-stop, convenience dealership</h1>
          <p>
            Finally we have put the entire car buying process on the web for your
            convenience so that you never need to turn anywhere else – saving you time
            and energy and putting you in the driving seat.
          </p>

          <div class="help">
            <a [routerLink]="['register']">Create profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
