<nav class="navbar bg-light fixed-top navbar-expand-lg navbar-light">

  <a [routerLink]="['']" class="navbar-brand">

    <div class="brand">
      <div class="my-icon img-fluid" aria-label="My icon" [inlineSVG]="'../../assets/images/carnet_logo_white.svg'">

      </div>
    </div>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">

      <li (click)="navbarCollapse()" class="nav-item ">
        <a [routerLink]="['']" routerLinkActive="active" class="nav-link">Search</a>
      </li>

      <li (click)="navbarCollapse()" class="nav-item ">
        <a [routerLink]="['about']" routerLinkActive="active" class="nav-link">About</a>
      </li>

      <li (click)="navbarCollapse()" class="nav-item ">
        <a [routerLink]="['why']" routerLinkActive="active" class="nav-link">Why Carloyi</a>
      </li>

      <li (click)="navbarCollapse()" class="nav-item ">
        <a [routerLink]="['contact']" routerLinkActive="active" class="nav-link">Contact</a>
      </li>

      <li (click)="navbarCollapse()" class="nav-item animated fadeIn" *ngIf="searchResults">
        <a [routerLink]="['results']" routerLinkActive="active" class="nav-link">
          Search Results
        </a>
      </li>

      <li (click)="navbarCollapse()" class="nav-item animated fadeIn collapseItem" *ngIf="loggedin; else login">
        <a [routerLink]="['showroom']" routerLinkActive="active" class="nav-link boldText">
          My Showroom
        </a>
      </li>

      <ng-template #login>
        <li (click)="navbarCollapse()" id="signUp" class="nav-item animated fadeIn collapseItem">
          <a [routerLink]="['register']" routerLinkActive="active" class="nav-link boldText">
            Sign Up
          </a>
        </li>

        <li (click)="navbarCollapse()" id="login" class="nav-item animated fadeIn collapseItem">
          <a [routerLink]="['signin']" routerLinkActive="active" class="nav-link boldText">
            Login
          </a>
        </li>
      </ng-template>

    </ul>

  </div>

</nav>

