<div class="footer">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-12">

          <div class="office_info">
            <h4>Help and support</h4>
            <p>Mon - Sun: 9:00 - 17:30</p>
            <p>Email: info@carloyi.com</p>
            <p>Response within 8 working hours.</p>
          </div>

          <div class="duoporta">
            <a href="https://www.duoporta.com" target="_blank">
              <div class="my-icon img-fluid"
                   aria-label="My icon"
                   [inlineSVG]="'../../assets/images/douporta@1x.svg'">
              </div>
            </a>
          </div>

        </div>

        <div class="col-lg-4 col-md-8 col-sm-12">
          <app-newsletter></app-newsletter>
        </div>

        <div class="col-lg-5 col-md-12 col-sm-12">

          <div class="about_info">
            <h4>About us</h4>
            <p>Carloyi is not just a motoring website but a virtual car dealership - It makes buying a car new and easy. Our aim is to give the buyer unbiased and practical advice based on their decision making criteria.</p>
          </div>

          <div class="mini_menu">
            <ul>

              <li>
                <a [routerLink]="['']" routerLinkActive="active">Home</a>
              </li>

              <li>
                <a [routerLink]="['about']" routerLinkActive="active">About</a>
              </li>

              <li>
                <a [routerLink]="['why']" routerLinkActive="active">Why Carloyi</a>
              </li>

              <li>
                <a [routerLink]="['terms']" routerLinkActive="active">Terms Of Use</a>
              </li>

              <li>
                <a [routerLink]="['contact']" routerLinkActive="active">Contact</a>
              </li>

              <li>
                <a [routerLink]="['register']" routerLinkActive="active">Sign Up</a>
              </li>

            </ul>
          </div>

        </div>

      </div>
    </div>

  <div class="line"></div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>
            <fa name="copyright"></fa> 2018 Carloyi. All rights reserved
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
