

<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">

<div *ngFor="let filterCar of filterResults; let i = index">
<mdb-slide *ngIf=" i % 3 === 0 ">
<div class="col-lg-4" *ngFor="let filterCar of filterResults.slice(i,i+3)">
<div class="card">
<img class="img-fluid" src="../../assets/images/audi.jpg" alt="">
<div class="card-body">
<h4 class="card-title">{{ filterCar.brand }} {{ filterCar.model }} {{ filterCar.name }}</h4>
<p>{{ filterCar.description }}</p>
<a href="#" class="btn btn-primary waves-light" mdbRippleRadius>R{{ filterCar.price }}</a>
</div>
</div>
</div>
</mdb-slide>
</div>

</mdb-carousel>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <ngx-content-loading 
                [speed]="'2000ms'"
                [width]="250"
                [height]="300"
                [primaryColor]="'#eee'"
                [secondaryColor]="'#fff'">
                  <svg:g ngx-rect width="250" height="150" y="10" x="0" rx="5" ry="5"></svg:g>
                  <svg:g ngx-rect width="250" height="10" y="170" x="0" rx="5" ry="5"></svg:g>
                  <svg:g ngx-rect width="200" height="3" y="190" x="0" rx="5" ry="5"></svg:g>
                  <svg:g ngx-rect width="250" height="10" y="200" x="0" rx="5" ry="5"></svg:g>
                  <svg:g ngx-rect width="250" height="65" y="220" x="0" rx="5" ry="5"></svg:g>
            </ngx-content-loading>
        </div>

        <div class="col-lg-3">
                <ngx-content-loading 
                    [speed]="'2000ms'"
                    [width]="250"
                    [height]="300"
                    [primaryColor]="'#eee'"
                    [secondaryColor]="'#fff'">
                      <svg:g ngx-rect width="300" height="150" y="10" x="0" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="150" height="5" y="150" x="0" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="90" height="5" y="160" x="0" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="210" height="5" y="180" x="0" rx="5" ry="5"></svg:g>
                      <svg:g ngx-rect width="240" height="35" y="200" x="0" rx="5" ry="5"></svg:g>
                </ngx-content-loading>
            </div>

            <div class="col-lg-3">
                    <ngx-content-loading 
                        [speed]="'2000ms'"
                        [width]="250"
                        [height]="300"
                        [primaryColor]="'#eee'"
                        [secondaryColor]="'#fff'">
                          <svg:g ngx-rect width="300" height="150" y="10" x="0" rx="5" ry="5"></svg:g>
                          <svg:g ngx-rect width="150" height="5" y="150" x="0" rx="5" ry="5"></svg:g>
                          <svg:g ngx-rect width="90" height="5" y="160" x="0" rx="5" ry="5"></svg:g>
                          <svg:g ngx-rect width="210" height="5" y="180" x="0" rx="5" ry="5"></svg:g>
                          <svg:g ngx-rect width="240" height="35" y="200" x="0" rx="5" ry="5"></svg:g>
                    </ngx-content-loading>
                </div>

                <div class="col-lg-3">
                        <ngx-content-loading 
                            [speed]="'2000ms'"
                            [width]="250"
                            [height]="300"
                            [primaryColor]="'#eee'"
                            [secondaryColor]="'#fff'">
                              <svg:g ngx-rect width="300" height="150" y="10" x="0" rx="5" ry="5"></svg:g>
                              <svg:g ngx-rect width="150" height="5" y="150" x="0" rx="5" ry="5"></svg:g>
                              <svg:g ngx-rect width="90" height="5" y="160" x="0" rx="5" ry="5"></svg:g>
                              <svg:g ngx-rect width="210" height="5" y="180" x="0" rx="5" ry="5"></svg:g>
                              <svg:g ngx-rect width="240" height="35" y="200" x="0" rx="5" ry="5"></svg:g>
                        </ngx-content-loading>
                    </div>
    </div>
</div>
