.options_header {
  background-color: #f7f8fa;
  text-align: center;
  z-index: 1020;
  position: relative;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.modal-body img {
  margin-bottom: 1.4rem;
}

.modal-body h4 {
  background: #f7f8fa;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0.3rem;
  font-weight: 400;
  font-size: 1rem;
  color: #006885;
}

.modal-body h5 {
  font-weight: 400;
  font-size: 0.88rem;
  color: #aaa;
}

.modal-body p {
  font-weight: 300;
  font-size: 0.8rem;
  color: #aaa;
}

.loginBtn {
  background: #006885;
  color: whitesmoke;
}

.options_header h1 {
  font-size: 1.1rem;
  color: #4aa0d5;
  text-align: center !important;
}

.budget_output {
  background-color: transparent;
  padding: 1.4rem;
}

.budget_output h2 {
  font-size: 1.1rem;
  text-align: center;
  color: #a2a2a2;
  line-height: 1.7rem;
}

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

/* The slider itself */

.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */

.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4CAF50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4CAF50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.per_month {
  font-size: 0.99rem;
  font-style: italic;
  color: #4aa0d5;
}

.budget_output p {
  text-align: center;
  color: #a2a2a2;
  font-weight: 500;
  font-size: 0.8rem;
}

#car {
  padding-bottom: 1.5rem;
}

.card {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  -webkit-box-shadow: 0 8px 20px 0 rgba(0,0,0,0.35);
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.35);
}

.car_image {
  margin-bottom: 1.2rem;
  border-bottom: 1px solid #eee;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.6);
}

.car_info {
  text-align: center;
}

.car_info h4 {
  color: #999999;
  font-size: 0.7rem;
}

.car_info h5 {
  color: #999999;
  font-size: 0.7rem;
}

.car_info h5 span {
  color: #4aa0d5;
  font-weight: 600;
  font-size: 0.7rem;
}

.car_info .seperator {
  height: 1px;
  background-color: #4aa0d5;
  width: 60%;
  display: block;
  margin: 0 auto 0.6rem;
}

/* Media Queries */

@media (min-width: 320px) {
  .options_header {
    background-color: #f5f5f5;
    margin-top: 3.8rem;
    padding: 2rem;
    text-align: center;
  }

  .options_header h1 {
    font-size: 1.2rem;
    color: #4aa0d5;
    font-weight: 400;
  }

  .budget_output {
    background-color: white;
    padding: 1.4rem;
  }

  .budget_output h2 {
    font-size: 0.8rem;
    text-align: center;
    color: #a2a2a2;
    line-height: 1.7rem;
  }

  .per_month {
    font-size: 0.8rem;
    font-style: italic;
    color: #4aa0d5;
  }

  .budget_output p {
    text-align: center;
    color: #a2a2a2;
    font-weight: 500;
    font-size: 0.8rem;
  }

  .the_tabs h3 {
    text-align: center;
    color: whitesmoke;
    font-size: 0.8rem;
  }

  .controls-top {
    margin-top: 20%;
  }
}

@media (min-width: 1024px) {
  .options_header {
    background-color: #f7f8fa;
    padding: 0.7rem 0 0.5rem;
    margin-top: 3.3rem;
    text-align: center;
  }

  .options_header h1 {
    font-size: 0.9rem;
    opacity: .8;
    color: #006885;
    font-weight: 400;
    text-align: center !important;
  }

  .budget_output {
    background-color: transparent;
    padding: 2.4rem 1.4rem 4rem 1.4rem;
  }

  .budget_output h2 {
    font-size: 1.1rem;
    text-align: center;
    color: #a2a2a2;
    line-height: 1.7rem;
  }

  .per_month {
    font-size: 0.8rem;
    font-style: italic;
    color: #4aa0d5;
  }

  .budget_output p {
    text-align: center;
    color: #a2a2a2;
    font-weight: 500;
    font-size: 1rem;
  }

  .the_tabs h3 {
    text-align: center;
    color: whitesmoke;
    font-size: 1.1rem;
  }
}

.moreCarInfo {
  padding: 3rem 1.5rem;
  background: #504c99;
  width: 100%;
}

.btn-floating>.disabled {
  cursor: not-allowed !important;
  background-color: #aaa !important;
}

.card {
  overflow: hidden;
}

.infoOverlay {}

.carInformation {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 400;
  color: #f3f3f3;
  width: 100%;
  font-weight: 200;
  cursor: pointer;
}

.carInformation small {
  font-size: 0.9rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

.infoOverlay #each_car_overlay {
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006885+0,00485e+100&0.8+0,0.6+100 */
  background: -moz-linear-gradient(-45deg, rgba(0, 104, 133, 0.95) 0%, rgba(0, 72, 94, 0.9) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(0, 104, 133, 0.95) 0%, rgba(0, 72, 94, 0.9) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(0, 104, 133, 0.95) 0%, rgba(0, 72, 94, 0.9) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc006885', endColorstr='#9900485e', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  opacity: 0;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.infoOverlay:hover .carInformation {
  opacity: 1;
}

.infoOverlay:hover #each_car_overlay {
  opacity: 1;
}

a.tooltips {
  position: absolute;
  display: inline;
  margin-top: 6px;
  margin-left: 6px;
}

a.tooltips span {
  position: absolute;
  width: 140px;
  color: #FFFFFF;
  background: #F9A45E;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 2px;
}

a.tooltips span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0;
  height: 0;
  border-right: 8px solid #F9A45E;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

a:hover.tooltips span {
  visibility: visible;
  opacity: 0.9;
  left: 100%;
  top: 50%;
  margin-top: -15px;
  margin-left: 15px;
  z-index: 999;
}

.top-results {
  z-index: 1020;
  position: relative;
}

.card {
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.badge {
  position: absolute;
  padding: 1.3em 1.3em !important;
  z-index: 1030;
  border-radius: 50% !important;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
}

mdb-carousel div {
  touch-action: cross-slide-y !important;
}

@media (min-width: 280px) {
  mdb-carousel .carousel {
    touch-action: cross-slide-y !important;
    position: fixed !important;
  }
}

.leftRs {
  position: absolute;
  margin: auto;
  top: -25px;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  left: -55px;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: -25px;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  right: -55px;
}

.ngxcarouselPoint {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
}

.ngxcarouselPoint li {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: #F9A45E !important;
  display: inline-block;
}

.ngxcarouselPoint li.active {
  border: 0 solid rgba(0, 0, 0, 0.55);
  transform: scale(1.2);
  background: #F9A45E;
}

button:focus {
  box-shadow: none;
}


