html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

h3 {
  color: #dfdfdf;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

select {
  background: none;
}

h4 {
  color: #dfdfdf;
  letter-spacing: 0.05rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
}

@media (min-width: 1024px) {

  .whyContent p {
    font-size: 1rem;
    text-align: center;
  }

}

.text-container {
  width: 100%;
  max-width: 70%;
  margin: 1rem auto;
  display: block;
}

.slider-header p {
  margin-top: 1rem;
  color: #dfdfdf;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
}

.whyContent {
  margin-top: 0;
  margin-bottom: 4rem;
}

.whyContent h2 {
  font-weight: 300;
  font-size: 1.1rem;
  color: #4aa0d5;
  border-bottom: whitesmoke 1px solid;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05rem;
}

.whyContent p {
  border-bottom: whitesmoke 1px solid;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  color: #909091;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

.whyHeader img {
  margin-bottom: 2rem;
  display: block;
}

#allMakes select,
#makeModels select {
  -moz-padding: 0;
  padding: 0;
}

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  overflow: hidden;
  z-index: 9999;
}

.option-button>a>fa {
  margin-left: 10px;
}

.option-button {
  width: 15rem;
  display: block;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  font-weight: 300;
  text-transform: uppercase;
  background: #f9a45e;
  border: 1px solid #f9a45ed7;
  color: #dfdfdf !important;
  padding: .8rem 2.3rem;
  margin: 1.6rem auto;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, .2), 0 6px 11px 0 rgba(20, 23, 28, .2);
}

.option-button:hover {
  background: #006885d2;
  border: 1px solid #00688552;
}

.option-button-active {
  width: 15rem;
  display: block;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 0.09em;
  font-weight: 400;
  text-transform: uppercase;
  background: #f9a45e;
  border: 1px solid #f9a45ed7;
  color: whitesmoke !important;
  padding: .8rem 2.3rem;
  margin: 1.6rem auto;
  border-radius: 0px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.option-button-active:hover {
  background: #f9a45ed7;
  border: 1px solid #cf894fd7;
}

.seperator {
  width: 300px;
  display: block;
  height: 1px;
  background-color: rgba(245, 245, 245, 0.397);
  margin: 1.5rem auto 1.5rem;
}

#cancel-a,
#cancel-b {
  color: #ebebeb;
  font-weight: 500;
  margin: 1rem auto;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

#searchByName input,
#affordabilitySearch input {
  background-color: rgba(255, 255, 255, 0);
  border: whitesmoke 1px solid;
}

#more {
  display: none;
}

.text_link {
  cursor: pointer;
  color: #006885 !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
}

#loading {
  width: 100%;
  height: 40px;
}

#loader {
  background-image: url("../../assets/images/loader.svg");
  width: 120px;
  height: 15px;
  margin: 1.4rem auto;
  display: block;
}

#wait {
  color: whitesmoke;
  text-align: center;
}

.col-lg-4:nth-child(1) {
  animation-delay: 6s;
}

@media (min-width: 300px) {

  .whyContent p {
    font-size: 1rem;
    text-align: center;
  }

  .whyHeader {
    margin: 0 auto 2rem;
    padding: 1rem 0 0.7rem 0;
    background-color: #006885;
    width: 100%;
  }

}

@media (min-width: 576px) {}

@media (min-width: 768px) {

  .whyHeader {
    margin: 0 auto 2rem auto;
    padding: 1rem 0 0.7rem 0;
    background-color: #f8f8f8;
    width: 100%;
    color: #006885;
  }

  .whyContent {
    background: none;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .whyHeader {
    background: #006885;
    padding: 1rem 0 0.7rem 0;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  .whyHeader h1 {
    text-transform: none;
    font-size: 1.2rem;
    font-weight: 200;
    color: whitesmoke;
    text-align: center;
  }

  .whyContent h2 {
    font-weight: 300;
    font-size: 1.1rem;
    color: #4aa0d5;
    border-bottom: none;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 0.05rem;
  }

  .whyContent p {
    border-bottom: none;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    color: #909091;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }

  .whyHeader img {
    margin-bottom: 2rem;
    display: block;
  }

  .whyText {
    margin-top: 40px;
  }

  .randomCars {
    margin-top: 25px;
  }

  .searchOptions {
    width: 100%;
    padding: 10px;
  }

}

@media (min-width: 1110px) {

  .screenShadow img {
    width: 100%;
    margin-top: -7px;
    opacity: 0.4;
  }

  .slider-header {
    margin: 0 0 0 0;
  }

  h1 {
    font-weight: 200;
    color: whitesmoke;
    font-size: 1.6rem;
    text-transform: uppercase;
  }



}

.my-icon {
  width: 120px;
  display: block;
  margin: 0 auto;
}

.how-to {
  margin-top: 0rem;
}

.how-to h2 {
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  color: #e0e0e0bd;
  padding-top: 2rem;
  border-top: 1px solid #e0e0e0bd;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.how {
  text-align: center;
  color: #898989;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

.image_120 {
  display: block;
  margin: 0 auto 2rem;
  width: 120px;
  height: 120px;
  border-radius: 200px;
  overflow: hidden;

}

.img-circle {
  border-radius: 0;
  background: #fff;
  overflow: hidden;
  padding: 1rem;
}

.cols {
  padding: 65px 15px;
  background: #e9e9e9;
}
