<app-top-banner></app-top-banner>

<section class="randomCars">
  <div class="container">
    <app-fourrandomcars></app-fourrandomcars>
  </div>
</section>

<section class="searchOptions">
  <div class="container">
    <app-search-options></app-search-options>
  </div>
</section>

<section class="whyContent">
  <div class="container">

    <section class="whyText">
      <div class="row">

        <div class="col-lg-12">
          <h1>Why Carloyi?</h1>
          <h3>There are over 1500 new cars available on sale in South Africa from over 50 brands. </h3>

          <p>Very few people, if any have the time to visit all these companies to assess which is the best vehicle for them. This means you don't always end up getting the best possible deal.</p>

          <p>With Carloyi, all new vehicles are evaluated on their ability to satisfy the consumer’s needs and wants and thus a live comparison test is run for the whole market everytime you search for your car.</p>
        </div>

      </div>
    </section>

  </div>
</section>

<section class="bottomBanner">
  <app-banner-ad></app-banner-ad>
</section>

