<section class="contactheader animated fadeIn">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <h1>About Carloyi</h1>
        <p>Carloyi is not just a motoring website but a personal sales assistant – it makes buying a car new and easy. Our aim is to give the buyer unbiased and practical advice based on their decision making criteria. We are giving the consumer information they have never had that empowers them to make the best decisions for the them. We review and provide on all new cars from the buyer’s perspective and are backed up with technical data.</p>
      </div>
    </div>
  </div>

</section>

<div class="container animated fadeIn">
    <div class="row">

      <div class="col-lg-5 contactInfo">
        <div class="card">
          <div class="card-body">
            <h2>Our staff</h2>
            <p>Carloyi's testers, writers and salesmen are all experienced in both the motor industry and consumer behaviour. We are confident our advice is the most accurate, up to date available and easiest to understand of any on the market. Our salesmen are also trained by the best in the motor industry to ensure the best service quality.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-7 contactInfo">
        <div class="card">
          <div class="card-body">
            <h2>Vehicle search like no other</h2>
            <p>
              The vehicle search process is designed to replicate the buyer’s decision making process when planning to buy a car. It is intuitive and simple to use and will help give the buyers all their options on one platform in an increasingly diverse vehicle market. Carloyi cuts the hundreds and hundreds of new cars available down to convenient lists on the buyer’s requirements and we are continually ensuring that Carloyi is producing the desired results. Furthermore, it is fun to use.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-5 contactInfo">
        <div class="card">
          <div class="card-body">
            <h2>You can buy and save too</h2>
            <p>
              Carloyi does not stop at giving the potential buyer product options but let’s you save in the process by making dealerships bid for you. Our systems are designed such that you never need to leave your desk or home to buy your car if you don’t want to. Buying your perfect car at the best possible price.
            </p>
          </div>
        </div>

      </div>

      <div class="col-lg-7 contactInfo">
        <div class="card">
          <div class="card-body">
            <h2>Carloyi has been designed to empower real people</h2>
            <p>
              From informing the buyer of their vehicle options to assisting them buy and save thousands, Carloyi is committed to empowering real people. We hope you agree with us.
            </p>
            <p>
              But if you feel any areas of the site could be improved or have any other suggestions, we'd be delighted to hear your feedback via the email addresses on the Contact Us page.<br>
            </p>
          </div>
        </div>

      </div>

      <div class="col-lg-12 contactInfo">

        <div class="card">
          <div class="card-header">
            Privacy Policy
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              At Carloyi we are dedicated to safeguarding your data and protecting your privacy.
            </li>
            <li class="list-group-item">
              We employ industry recognised security safeguards to help protect the personal information that you provide us with from loss, misuse and unauthorised alteration.  Whilst Carloyi endeavours to protect the User's information from observation by any third party during transit, use of the website is entirely at the User's risk.
            </li>
            <li class="list-group-item">
              Carloyi gives no warranties and will not be liable for any damage or costs the User might incur as a result of unauthorised viewing of the User's information.
            </li>

            <li class="list-group-item">
              Carloyi does not guarantee uninterrupted or error free information and/or the security of this website or that of any stored visitor data.
            </li>

            <li class="list-group-item">
              When the User applies for any product referred to on this website, the information furnished by the User to Carloyi will be disclosed to the relevant third party product providers as part of the relevant application process(es).
            </li>

            <li class="list-group-item">
              The User warrants that all information furnished by the User (whether in relation to the User or any other party) to Carloyi as part of this process will be truthful, accurate, current and complete.
            </li>

            <li class="list-group-item">
              Information furnished by the User to Carloyi may also be used by Carloyi to provide the User with information in regard to Carloyi's other products and services.
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>

