<section class="contactheader animated fadeIn">
  <h1>Contact Us</h1>
</section>

<section class="whyContent animated fadeIn">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <div class="card">

          <div class="card-body">
            <h2>Further information</h2>
            <p>
              If you are in need of more information about the services Carloyi offers then contact us. Just drop us an email at: <a href="mailto:info@carloyi.com">info@carloyi.com</a>
            </p>

            <p>
              Are you experiencing challenges with a dealership? If you are, please do send us an email with a description of the query and the name of the dealership. Send email to: <a href="mailto:info@carloyi.com">info@carloyi.com</a>
            </p>

            <p>
              We endeavour to respond to all queries within 8 working hours.
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>

