@media (min-width: 320px) {

  .w-100 {
    width: 100% !important;
    position: relative;
    margin-top: 60px;
    background-size: cover;
  }

  .carousel-caption
  {
    top: 0;
  }

  .sliderContent {
    color: #e6e6e6;
    padding-left: 1.5rem;
    margin: 0 auto;
    border-left: 1px solid #e6e6e6;
    text-align: left;
  }

  .sliderContent h1 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.08rem;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent h1 span {
    font-weight: 500;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent p {
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    text-shadow: 0 1px 2px #080808;
  }

  .w-100:before {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .explore {
    cursor: pointer;
    font-weight: 500;
    background: #f9a45e;
    border: 0 solid #e6e6e6;
    color: #e6e6e6;
    padding: 0.5rem 2rem;
    margin: 0.2rem 0 1rem 0;
    border-radius: 0 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }


}

@media (min-width: 375px) {
  .w-100 {
    width: 100% !important;
    position: relative;
    margin-top: 60px;
    background-size: cover;
  }

  .carousel-caption
  {
    top: 0;
  }

  .sliderContent {
    color: #e6e6e6;
    padding-left: 1.5rem;
    margin: 0 auto;
    border-left: 1px solid #e6e6e6;
    text-align: left;
  }

  .sliderContent h1 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.08rem;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent h1 span {
    font-weight: 500;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent p {
    font-weight: 500;
    width: 100%;
    font-size: 12px;
    text-shadow: 0 1px 2px #080808;
  }

  .w-100:before {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .explore {
    cursor: pointer;
    font-weight: 500;
    background: #f9a45e;
    border: 0 solid #e6e6e6;
    color: #e6e6e6;
    padding: 0.5rem 2rem;
    margin: 0.2rem 0 1rem 0;
    border-radius: 0 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

@media (min-width: 480px) {
  .w-100 {
    width: unset !important;
    position: relative;
    margin-top: 60px;
    height: 100vh;
    max-height: 100vh;
    background-size: cover;
  }

  .carousel-caption
  {
    top: 0;
  }

  .sliderContent {
    color: #e6e6e6;
    padding-left: 1.5rem;
    margin: 0 auto;
    border-left: 1px solid #e6e6e6;
    text-align: left;
  }

  .sliderContent h1 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent h1 span {
    font-weight: 500;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent p {
    font-weight: 500;
    width: 400px;
    text-shadow: 0 1px 2px #080808;
  }

  .w-100:before {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .explore {
    cursor: pointer;
    font-weight: 500;
    background: #f9a45e;
    border: 0 solid #e6e6e6;
    color: #e6e6e6;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0 1rem 0;
    border-radius: 0 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

@media (min-width: 576px) {
  #app-background {
    background-image: url("../../assets/images/black_car.jpg");
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    top: 0;
    left: 0;
    background-size: cover;
  }
  .smartest {
    width: 100%;
    position: absolute;
    z-index: 10;
    height: 100%;
    margin: 0 auto 0;
    padding: 100px 20px 20px 20px;
    background: rgba(0, 0, 0, 0.8);
  }
  .smartest h1 {
    font-size: 40px;
    font-weight: 400;
    color: #f9a45e;
    text-transform: none;
    text-align: center;
  }
  .smartest p {
    color: #f8f8f8;
    text-align: center;
    font-size: 16px;
  }
  .help {
    background: #f9a45e;
    padding: 15px 20px;
    width: 300px;
    display: block;
    margin: 0 auto;
  }
  #help {
    color: #f8f8f8;
    text-align: center;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .w-100 {
    width: 100vw !important;
    position: relative;
    margin-top: 44px;
    height: 100%;
    max-height: 100vh;
    background-size: cover;
  }

  .carousel-caption
  {
    top: 0;
  }

  .sliderContent {
    color: #e6e6e6;
    padding-left: 1.5rem;
    margin: 5rem auto;
    border-left: 1px solid #e6e6e6;
    text-align: left;
  }

  .sliderContent h1 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent h1 span {
    font-weight: 500;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent p {
    font-weight: 500;
    width: 100%;
    text-shadow: 0 1px 2px #080808;
  }

  .w-100:before {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .explore {
    cursor: pointer;
    font-weight: 500;
    background: #f9a45e;
    border: 0 solid #e6e6e6;
    color: #e6e6e6;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0 1rem 0;
    border-radius: 0 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

@media (min-width: 1024px) {
  .w-100 {
    width: 100vw !important;
    position: relative;
    margin-top: 0;
    height: 100%;
    background-size: cover;
  }

  .carousel-caption
  {
    top: 0;
  }

  .sliderContent {
    color: #e6e6e6;
    padding-left: 1.5rem;
    margin: 11rem auto;
    border-left: 1px solid #e6e6e6;
    text-align: left;
  }

  .sliderContent h1 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent h1 span {
    font-weight: 500;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent p {
    font-weight: 500;
    width: 80%;
    text-shadow: 0 1px 2px #080808;
  }

  .w-100:before {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .explore {
    cursor: pointer;
    font-weight: 500;
    background: #f9a45e;
    border: 0 solid #e6e6e6;
    color: #e6e6e6;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0 1rem 0;
    border-radius: 0 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

@media (min-width: 1110px) {

  .w-100 {
    width: 100vw !important;
    position: relative;
    margin-top: 0;
    height: 100vh;
    max-height: 100vh;
    background-size: cover;
  }

  .carousel-caption
  {
    top: 0;
  }

  .sliderContent {
    color: #e6e6e6;
    padding-left: 1.5rem;
    margin: 23rem auto;
    border-left: 1px solid #e6e6e6;
    text-align: left;
  }

  .sliderContent h1 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent h1 span {
    font-weight: 500;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent p {
    font-weight: 500;
    width: 50%;
    text-shadow: 0 1px 2px #080808;
  }

  .w-100:before {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .explore {
    cursor: pointer;
    font-weight: 500;
    background: #f9a45e;
    border: 0 solid #e6e6e6;
    color: #e6e6e6;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0 1rem 0;
    border-radius: 0 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

}

@media (min-width: 1366px) {

  .w-100 {
    width: 100vw !important;
    position: relative;
    margin-top: 0;
    height: 100vh;
    max-height: 100vh;
    background-size: cover;
  }

  .carousel-caption
  {
    top: 0;
  }

  .sliderContent {
    color: #e6e6e6;
    padding-left: 1.5rem;
    margin: 17rem auto;
    border-left: 1px solid #e6e6e6;
    text-align: left;
  }

  .sliderContent h1 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent h1 span {
    font-weight: 500;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent p {
    font-weight: 500;
    width: 50%;
    text-shadow: 0 1px 2px #080808;
  }

  .w-100:before {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .explore {
    cursor: pointer;
    font-weight: 500;
    background: #f9a45e;
    border: 0 solid #e6e6e6;
    color: #e6e6e6;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0 1rem 0;
    border-radius: 0 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

}

@media (min-width: 1440px) {

  .w-100 {
    width: 100vw !important;
    position: relative;
    margin-top: 0;
    height: 100vh;
    max-height: 100vh;
    background-size: cover;
  }

  .carousel-caption
  {
    top: 0;
  }

  .sliderContent {
    color: #e6e6e6;
    padding-left: 1.5rem;
    margin: 17rem auto;
    border-left: 1px solid #e6e6e6;
    text-align: left;
  }

  .sliderContent h1 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent h1 span {
    font-weight: 500;
    text-shadow: 0 1px 2px #080808;
  }

  .sliderContent p {
    font-weight: 500;
    width: 50%;
    text-shadow: 0 1px 2px #080808;
  }

  .w-100:before {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .explore {
    cursor: pointer;
    font-weight: 500;
    background: #f9a45e;
    border: 0 solid #e6e6e6;
    color: #e6e6e6;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0 1rem 0;
    border-radius: 0 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

}

.carousel {
  position: relative !important;
  touch-action: auto !important;
}
