<div class="featuredArticle">
  <div class="featuredBackground">
    <img [src]="imagePath + '/storage/app/article/background/' + featured.featured_background_image"
         class="img-fluid featuredImage"/>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-lg-8 featured">

        <h2 class="featuredTitle">{{ featured.featured_title }}</h2>
        <h4 class="featuredCaption">{{ featured.featured_caption }}</h4>
        <h4 class="featuredAuthor">Article by - {{ featured.author }}</h4>

        <a class="featuredLink" [routerLink]="['/article/' + featured.article_slug]">
          <i class="fas fa-arrow-circle-right"></i> Continue Reading
        </a>

      </div>

      <div class="col-lg-4 featured">
        <h3>Older interesting articles</h3>
        <ul class="olderPosts">
          <li *ngFor="let collection of articleCollection">
            <a [routerLink]="['/article/' + collection.article_slug]">
              <i class="fas fa-arrow-circle-right"></i> {{ collection.featured_title }}
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

