<section class="contactheader">
    <h1>Why carloyi</h1>
  </section>

<section class="whyContent">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">

          <div class="card-body">
            <h2>Carloyi.com…</h2>
            <p>We put ourselves in your shoes to deliver easy to understand, practical judgements on all the cars on the market. Focusing on only the things you care about when purchasing a car.</p>

            <p>We spend hundreds of hours a month evaluating and comparing countless new cars, while our experts spent their time ensuring the Carloyi paints the most accurate picture possible of the new vehicle market.<br><br></p>
            <div>
              <a class="text_link" [routerLink]="['../about']">More About Us</a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6">

        <div class="card">

          <div class="card-body">
            <h2>New cars</h2>
            <p>There are over 1500 new cars available on sale in South Africa from over 50 brands. Very few people, if any have the time to visit all these companies to assess which is the best vehicle for them. This results in the consumer buying a car based very little information.</p>

            <p>With Carloyi, all new vehicles are evaluated on their ability to satisfy the consumer’s needs and wants and thus a live comparison test is run for the whole market everytime you search for your car.</p>
            <div>
              <a class="text_link" >Search for your new car</a>
<!--<a class="text_link" (click)="suitabilitySearch('all')">Search for your new car</a>-->
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-12">
        <div class="card" style="margin-top: 2rem">

          <div class="card-body">
            <h2>One-stop, convenience dealership</h2>
            <p>Finally we have put the entire car buying process on the web for your convenience so that you never need to turn anywhere else – saving you time and energy and putting you in the driving seat.</p>

            <a class="text_link" [routerLink]="['../register']">Create an account.</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
