<section class="contactheader">
    <h1>Terms Of Use</h1>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 contactInfo">
        <p>All of Carloyi and any of its affiliated companies and products, which may include software, services, products and website/s, will be referred to as "services" and Carloyi and any of its affiliated companies will be referred to as "Carloyi" in this document..</p>

        <p>Carloyi respects your privacy and is committed to protecting all personally identifiable information.</p>

        <p>Carloyi analyses all data collected through our services for market research reasons.</p>

        <p>Carloyi stores and uses all information that is collected from the use of our services.</p>

        <p>Carloyi will never release your personal information to a non-relevant third party. In all cases, the only personal information we will ever disclose to third parties (motor importers/manufacturers, motor dealerships, financial institutions etc) are your details as determined by you in any form of contact that you have made with us through our services and that we have deemed relevant for us to supply you with our service offerings.</p>


        <p>Carloyi is not responsible for the conduct of motor dealerships, financial institutions, private sellers and any other 3rd party that may be represented within our service offerings.</p>

        <p>Pursuant to the provisions of the Consumer Protection Act, you hereby unconditionally and irrevocably indemnify Carloyi and its subsidiaries and hold Carloyi harmless against all loss, damages, claims, liability and/or costs of whatsoever nature and howsoever arising from the use of the Carloyi website.</p>

        <p>It is further clearly understood and agreed that Carloyi will not be liable for any loss suffered, damages sustained or other types of liabilities to persons whether natural or legal utilising the Carloyi website under any circumstances nor does Carloyi give any warranties or undertakings in respect of the vehicles that appear on its website.</p>



        <p>Carloyi makes no representations, whether express or implied regarding the vehicles that appear on it's website, nor does Carloyi give any guarantees or warranties regarding the vehicle, it's type, make, condition, mileage or ownership or any other information pertinent to the vehicle that appears on the Carloyi website.</p>

        <p>Carloyi endeavours to use service providers that are registered with their industry relevant authority organizations and associations (this includes motor dealerships and licensed financial institutions).</p>

        <p>Carloyi is not accountable for, will not guarantee, cannot guarantee and waivers all liability from the information, opinions and graphics that depict the new vehicles, used vehicles and any other products throughout our services. All views and opinions expressed in all documents are of the management of Carloyi, and some opinions expressed by other journalists/individuals.</p>

        <p>Carloyi offers no recourse what so ever for any vehicle that is available through any of our services.</p>

        <p>Carloyi reserves the right to email you with any form of relevant information, should you have made use of any of our services.</p>

        <p>Carloyi does not, and will not, trade "email address lists" or "email address databases".</p>

        <p>The services offered by Carloyi with regard to searching for a vehicle and contacting the seller are free. Should you use any of Carloyi's services to sell your vehicle, you will be charged a nominal fee.</p>

        <p>Carloyi does however reserve the right to determine who uses, and how they use any of the services on offer.</p>

        <p>Should you use any of the Carloyi services, Carloyi will accept that you have agreed to, understood and are legally allowed to accept the "Terms and Conditions", "Terms of Usage" and "Privacy" policies and procedures from that point onwards.</p>

        <p>Carloyi has the right to change their policies from time to time.</p>

        <p>Carloyi shall not be held liable for any damage or loss that you may have incurred, in any form or manner what so ever during the use of, or anything related to, the services that Carloyi have to offer.</p>

        <p>Should you have any concerns, you are welcome to direct them to Carloyi in writing, to:</p>

        <p>Legal Department</p>

        <p>The Independent Salesman (Pty) Ltd</p>
        <p>Impact Hub Johannesburg, 158 Jan Smuts Building</p>
         <p>9 Walters Street</p>
         <p>Rosebank</p>
          <p>2196</p>
          <p> Gauteng</p>
            <p>Republic of South Africa </p>
            <p>Carloyi will endeavour to address your concern as soon as possible, and should Carloyi not be able to address your concern in an appropriate manner, Carloyi will use the correct and industry relevant authorities with regard to dispute and resolution associations that are available in South Africa.</p>
      </div>

    </div>
  </div>
