<div class="container">
  <div class="row">

    <div class="form-group">
      <label for="password">Password</label>
      <input #newPassword
        type="password"
        class="form-control"
        id="password"
        placeholder="New Password">
    </div>

      <div class="form-group">
        <label for="confirmPassword">Password</label>
        <input #confirmPassword
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Confirm NewPassword">
      </div>

      <button (click)="createNewPassword(newPassword, confirmPassword)" class="btn btn-primary">Create New Password</button>
  </div>
</div>
